*.o
*.so
*.a
*.pc
a.out
__pycache__/
*.pyc
*.cache
.deps/
.libs/
*.log
*.status
Makefile
*~
\#*#
build
*.osr
*.osu
*.mp3
*.wav
*.jpeg
*.jpg
*.png
*.osb
*.osz
*.zip
*.osk
*.otf
*.db
*.cfg
*.psd
*.dll
TAGS

# autotools
Makefile.in
/Makefile
/aclocal.m4
/autom4te.cache/
/config.*
/configure
/depcomp
/compile
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
/ar-lib
/stamp-h?
.deps/
.dirstamp
.libs/
*.l[ao]

